{% extends "base_site.html" %}

{% block page_title %}Evaluación {{ evaluacion.nombre_persona }}{% endblock %}
{% block title %}Evaluaciones{% endblock %}
{% block title_page %}{{ evaluacion.nombre_persona }}{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">Datos Generales</div>
  <div class="panel-body">
    <div class="table-responsive table-bordered">
      <table class="table">
        <tbody>
          <tr>
            <td width="150px"><b>ID</b></td>
            <td><b>{{ evaluacion.id }}</b></td>
          </tr>
          <tr>
            <td>Fecha</td>
            <td><b>{{ evaluacion.fecha }}</b></td>
          </tr>
          <tr>
            <td>Sexo</td>
            <td><b>{{ evaluacion.get_sexo }}</b></td>
          </tr>
          <tr>
            <td>Edad</td>
            <td><b>{{ evaluacion.edad }} años</b></td>
          </tr>
          <tr>
            <td>Estado Civíl</td>
            <td><b>{{ evaluacion.get_estado_civil }}</b></td>
          </tr>
          <tr>
            <td>Escolaridad</td>
            <td><b>{{ evaluacion.get_escolaridad }}</b></td>
          </tr>
          <tr>
            <td>Localidad</td>
            <td><b>{{ evaluacion.localidad }}</b></td>
          </tr>
          <tr>
            <td>Número de Hijos</td>
            <td><b>{{ evaluacion.get_numero_hijos }}</b></td>
          </tr>
        </tbody>
      </table>
      <a href="/evaluaciones/e/{{ evaluacion.id }}/" class="btn btn-default btn-block noprint">Editar</a>
    </div>
  </div>
</div>
{% comment %}
<div class="panel panel-default">
  <div class="panel-heading">Competencias</div>
  <div class="panel-body">
      <table class="table">
        <tbody>
          {% for resultado in evaluacion.get_resultados %}
          <tr>
            <td>{{ resultado.competencia|title }}</td>
            <td class="{{ resultado.class }}"><b>{{ resultado.total }}</b></td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Total</th>
            <th>{{ evaluacion.get_calificacion.total }}</th>
          </tr>
          <tr class="{{ evaluacion.get_calificacion.class }}">
            <th>Nivel</th>
            <th>{{ evaluacion.get_calificacion.nivel }}</th>
          </tr>
        </tfoot>
      </table>
      <a href="/evaluaciones/e/{{ evaluacion.id }}/q/" class="btn btn-default btn-block noprint">Cuestionario</a>
  </div>
</div>
{% endcomment %}
<div class="panel panel-default">
  <div class="panel-heading">Resultados</div>
  <div class="panel-body">
    <canvas id="myChart"></canvas>
    <a href="/evaluaciones/e/{{ evaluacion.id }}/q/" class="btn btn-default btn-block noprint">Cuestionario</a>
    <script charset="utf-8">
      var ctx = document.getElementById('myChart').getContext('2d');

      var r_lables = [];
      var r_data = [];
      var r_colors = [];

      {% for resultado in evaluacion.get_resultados %}
      r_lables.push('{{ resultado.competencia.nombre|title }}');
      r_data.push({{ resultado.nivel_n }});
      r_colors.push({% if resultado.class == 'success' %}'#d4edda'{% elif resultado.class == 'warning' %}'#fff3cd'{% else %}'#f8d7da'{% endif%});
      {% endfor %} 

      var myChart = new Chart(ctx, {
          type: 'horizontalBar',
          data: {
              labels: r_lables,
              datasets: [{
                label: 'Total',
                data: r_data,
                backgroundColor: r_colors
              }]
          },
          options: {
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true
                  }
                }]
              },
              animation: {
                onComplete: function(){
                  var ctx = this.chart.ctx;
                  this.data.datasets.forEach(function (dataset){
                    for (var i = 0; i < dataset.data.length; i++) {
                      for(var key in dataset._meta){
                        var model = dataset._meta[key].data[i]._model;
                        ctx.fillText(" " + dataset.data[i], model.x, model.y - 5);
                      }
                    }
                  });
                }
              }
          }
      });
    </script>
  </div>
</div>
<div class="panel panel-default new_page">
  <div class="panel-heading">Observaciones</div>
  <div class="panel-body">
      <table class="table">
        <tbody>
          {% for resultado in evaluacion.get_resultados %}
            {% if resultado.nivel != 'No Apto' %}
            <tr>
              <td>
                <h3 class="competencia_title">{{ resultado.competencia.nombre|title }}</h3>
                <div class="competencia_description">
                  <h4>Descripción</h4>
                  <p class="competencia_text">{{ resultado.competencia.descripcion }}</p>
                </div>
                {% if resultado.nivel == 'Apto' %}
                <div class="competencia_description">
                  <h4>Apto</h4>
                  <p class="competencia_text">{{ resultado.competencia.apto }}</p>
                </div>
                {% endif %}
                {% if resultado.nivel == 'Apto Condicionado' %}
                <div class="competencia_description">
                  <h4>Apto Condicionado</h4>
                  <p class="competencia_text">{{ resultado.competencia.apto_condicionado }}</p>
                </div>
                {% endif %}
                {% if resultado.nivel == 'No Apto' %}
                <div class="competencia_description">
                  <h4>No Apto</h4>
                  <p class="competencia_text">{{ resultado.competencia.no_apto }}</p>
                </div>
                {% endif %}
              </td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
<a href="/evaluaciones/" class="btn btn-default noprint">Regresar</a>
{% endblock %}

