{% extends "base_site.html" %}

{% block title %}Evaluaciones{% endblock %}
{% block title_page %}Evaluaciones{% endblock %}

{% block content %}
<div class="well noprint">
  <h4>Lista de evaluaciones registradas</h4>
  <p>Esta es una lista de todas las evaluaciones registradas en el sistema.</p>
</div>
<style>
th.rotated-text {
    height: 140px;
    white-space: nowrap;
    padding: 0 !important;
}

th.rotated-text > div {
    transform:
        translate(13px, 0px)
        rotate(310deg);
    width: 30px;
}

th.rotated-text > div > span {
    padding: 5px 10px;
}
</style>
<div id="list_evaluaciones">
  <table class="table table-sm table-striped table-hover" style="margin-top: 50px; font-family: Arial;">
    <thead>
      <tr>
          <th>ID</th>
          <th>Creado</th>
          <th>Persona</th>
          <th>Edad</th>
          <th>Sexo</th>
          <th>Escolaridad</th>
          <th>Localidad</th>
          {% for competencia in competencias %}
          <th class="rotated-text" scope="col"><div><span>{{ competencia.nombre|title }}</span></div></th>
          {% endfor %}
          <th class="rotated-text" scope="col"><div><span>Total</span></div></th>
          <th></th>
      </tr>
    </thead>
    <tbody>
      {% for evaluacion in object_list %}
      <tr>
        <td>{{ evaluacion.id }}</td>
        <td>{{ evaluacion.fecha|date:'d/m/Y' }}</td>
        <td>{{ evaluacion.nombre_persona }}</td>
        <td>{{ evaluacion.edad }}</td>
        <td>{{ evaluacion.get_sexo_abr }}</td>
        <td>{{ evaluacion.get_escolaridad }}</td>
        <td>{{ evaluacion.localidad }}</td>
        {% for resultado in evaluacion.get_resultados %}
        <td class="{{ resultado.class }}">{{ resultado.total }}</td>
        {% endfor %}
        <td class="{{ evaluacion.get_calificacion.class }}">{{ evaluacion.get_calificacion.total }}</td>
        <td>
          <a href="/evaluaciones/v/{{ evaluacion.id }}/" class="btn btn-primary btn-circle noprint"><i class="fa fa-folder-open"></i></a>
          <!--a href="/evaluaciones/e/{{ evaluacion.id }}/" class="btn btn-primary btn-circle noprint"><i class="fa fa-edit"></i></a-->
          <a href="/evaluaciones/e/{{ evaluacion.id }}/q/" class="btn btn-primary btn-circle noprint"><i class="fa fa-list-alt"></i></a>
          <a href="/evaluaciones/d/{{ evaluacion.id }}/" onclick="return confirm('¿Estás seguro de eliminar este elemento?');" class="btn btn-danger btn-circle noprint"><i class="fa fa-remove"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="row">
    <div class="col-xs-12 col-md-8"></div>
    <div class="col-xs-6 col-md-4">
      <nav aria-label="Page navigation example">
        {% if is_paginated %}
        <ul class="pagination justify-content-end">
          {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
          {% endif %}
          {% for i in paginator.page_range %}
          <li class="page-item {% if page_obj.number == i %}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endfor %}
          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
          </li>
          {% endif %}
        </ul>
        {% endif %}
      </nav>
    </div>
  </div>
</div>
{% endblock %}
