{% extends "base_site.html" %}

{% block page_title %}Evaluación {{ evaluacion.nombre_persona }}{% endblock %}
{% block title %}Evaluaciones{% endblock %}
{% block title_page %}{{ evaluacion.nombre_persona }}{% endblock %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">Datos Generales</div>
  <div class="panel-body">
    <div class="table-responsive table-bordered">
      <table class="table">
        <tbody>
          <tr>
            <td width="150px"><b>ID:</b></td>
            <td><b>{{ evaluacion.id }}</b></td>
          </tr>
          <tr>
            <td>Fecha:</td>
            <td><b>{{ evaluacion.fecha }}</b></td>
          </tr>
          <tr>
            <td>Fecha Nacimiento:</td>
            <td>
              {% if evaluacion.fecha_nacimiento %}
              <b>{{ evaluacion.fecha_nacimiento }}</b>
              {% endif %}
            </td>
          </tr>
          <tr class="{% if evaluacion.get_calificacion.total > 0 %}{{ evaluacion.get_calificacion.class }}{% endif %}">
            <td>Calificación:</td>
            <td>
              <b>
                {% if evaluacion.get_calificacion.total > 0 %}
                {{ evaluacion.get_calificacion.nivel }}
                {% else %}Sin resultados{% endif %}
              </b>
            </td>
          </tr>
        </tbody>
      </table>
      <a href="/evaluaciones/e/{{ evaluacion.id }}/" class="btn btn-default btn-block noprint">Editar</a>
    </div>
  </div>
</div>
{% comment %}
<div class="panel panel-default">
  <div class="panel-heading">Competencias</div>
  <div class="panel-body">
      <table class="table">
        <tbody>
          {% for resultado in evaluacion.get_resultados %}
          <tr>
            <td>{{ resultado.competencia|title }}</td>
            <td class="{{ resultado.class }}"><b>{{ resultado.total }}</b></td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Total</th>
            <th>{{ evaluacion.get_calificacion.total }}</th>
          </tr>
          <tr class="{{ evaluacion.get_calificacion.class }}">
            <th>Nivel</th>
            <th>{{ evaluacion.get_calificacion.nivel }}</th>
          </tr>
        </tfoot>
      </table>
      <a href="/evaluaciones/e/{{ evaluacion.id }}/q/" class="btn btn-default btn-block noprint">Cuestionario</a>
  </div>
</div>
{% endcomment %}
{% comment %}
<div class="panel panel-default">
  <div class="panel-heading">Resultados</div>
  <div class="panel-body">
    <canvas id="myChart"></canvas>
    <a href="/evaluaciones/e/{{ evaluacion.id }}/q/" class="btn btn-default btn-block noprint">Cuestionario</a>
    <script charset="utf-8">
      var ctx = document.getElementById('myChart').getContext('2d');

      var r_labels = [];
      var r_colors = [];
      var r_data_apto = [];
      var r_data_apto_condicionado = [];
      var r_data_no_apto = [];

      {% for resultado in evaluacion.get_resultados %}
      r_labels.push('{{ resultado.competencia.nombre|title }}: {{ resultado.totales.total }}%');
      r_data_apto.push({{ resultado.totales.apto }})
      r_data_apto_condicionado.push({{ resultado.totales.apto_condicionado }})
      r_data_no_apto.push({{ resultado.totales.no_apto }})
      {% endfor %}

      var r_data = {
        labels: r_labels,
        datasets: [
          {
            label: 'Recomendado',
            data: r_data_apto,
            backgroundColor: [
              '#008000','#008000','#008000','#008000','#008000','#008000','#008000','#008000'
            ]
          },
          {
            label: 'Con Reserva',
            data: r_data_apto_condicionado,
            backgroundColor: [
              '#ffff00','#ffff00','#ffff00','#ffff00','#ffff00','#ffff00','#ffff00','#ffff00',
            ]
          },
          {
            label: 'No Recomendado',
            data: r_data_no_apto,
            backgroundColor: [
              '#ff0000','#ff0000','#ff0000','#ff0000','#ff0000','#ff0000','#ff0000','#ff0000',
            ]
          },
        ]
      };

      var myChart = new Chart(ctx, {
          type: 'horizontalBar',
          data: r_data,
          options: {
              legend: {
                display: false
              },
              scales: {
                xAxes: [{
                  stacked: true,
                  ticks: {
                    beginAtZero: true
                  }
                }],
                yAxes: [{
                  stacked: true,
                  ticks: {
                    beginAtZero: true
                  }
                }]
              },
              animation: {
                onComplete: function(){
                }
              }
          }
      });
    </script>
  </div>
</div>
{% endcomment %}
<div class="panel panel-default">
  <div class="panel-heading">Resultados</div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <td width="200px">&nbsp;</td>
          <td width="15px">&nbsp;</td>
          <td>
              <div style="width: 100%;">
                <div style="display: inline-block; width: 33%; margin: 0px; padding: 0px; background-color:{{ COLORS.primary.3 }} !important;margin:0px;padding:0px;text-align: center;"><small>No Recomendado</small></div>
                <div style="display: inline-block; width: 33%; margin: 0px; padding: 0px; background-color:{{ COLORS.primary.2 }} !important;margin:0px;padding:0px;text-align: center;"><small>Con Reserva</small></div>
                <div style="display: inline-block; width: 32%; margin: 0px; padding: 0px; background-color:{{ COLORS.primary.0 }} !important;margin:0px;padding:0px;text-align: center;"><small>Recomendado</small></div>
              </div>
          </td>
          <td width="200px">&nbsp;</td>
        </tr>
        <tr>
          <th>Global</th>
          <td>{{ evaluacion.get_calificacion.inverso }}%</td>
          <th>
            <div style="width: 100%;">
              <div style="width: {{ evaluacion.get_calificacion.inverso }}%; background-color: {{ evaluacion.get_calificacion.primary_color }} !important;">&nbsp;</div>
            </div>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for resultado in evaluacion.get_resultados %}
        <tr>
          <td><small>{% if resultado.competencia.tipo == 0 %}{{ resultado.competencia.contra_titulo|title }}{% else %}{{ resultado.competencia.nombre|title }}{% endif %}</small></td>
          <td>
            <small>
            {% if resultado.inverso >= 0%}
              {{ resultado.inverso }}%  
            {% else %}
              Respuestas Incompletas
            {% endif %}
            </small>
          </td>
          <td>
            <div style="width: 100%; background:#fff;">
              {% if resultado.inverso >= 0%}
                <div style="width: {{ resultado.inverso }}%; background-color: {{ resultado.primary_color }} !important;">&nbsp;
              {% endif %}
              </div>
            </div>
          </td>
          <td><small>{% if resultado.competencia.tipo == 1 %}{{ resultado.competencia.contra_titulo|title }}{% else %}{{ resultado.competencia.nombre|title }}{% endif %}</small></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="panel panel-default new_page">
  <div class="panel-heading">Observaciones</div>
  <div class="panel-body">
      <table class="table">
        <tbody>
          {% for resultado in evaluacion.get_resultados %}
            {% if resultado.inverso >= 0%}
              <tr>
                <td>
                  <h3 class="competencia_title">{{ resultado.competencia.nombre|title }}</h3>
                  <div class="competencia_description">
                    <h4>Descripción</h4>
                    <p class="competencia_text">{{ resultado.competencia.descripcion }}</p>
                  </div>
                  {% if resultado.nivel_n == 0 %}
                  <div class="competencia_description">
                    <h4>Apto</h4>
                    <p class="competencia_text">{{ resultado.competencia.apto }}</p>
                  </div>
                  {% endif %}
                  {% if resultado.nivel_n == 2 %}
                  <div class="competencia_description">
                    <h4>Apto Condicionado</h4>
                    <p class="competencia_text">{{ resultado.competencia.apto_condicionado }}</p>
                  </div>
                  {% endif %}
                  {% if resultado.nivel_n == 3 %}
                  <div class="competencia_description">
                    <h4>No Apto</h4>
                    <p class="competencia_text">{{ resultado.competencia.no_apto }}</p>
                  </div>
                  {% endif %}
                </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
<a href="/evaluaciones/" class="btn btn-default noprint">Regresar</a>
{% endblock %}

