{% extends "base.html" %}

{% block notifications %}{% endblock %}

{% block search %}{% endblock %}

{% block menu %}
  <li>
      <a href="/" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
  </li>
  <li>
      <a href="#"><i class="fa fa-th-large fa-fw"></i> Escalas<span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
          <li>
              <a href="#"><i class="fa fa-list fa-fw"></i> Lista</a>
          </li>
          <li>
              <a href="#"><i class="fa fa-plus fa-fw"></i> Nueva</a>
          </li>
      </ul>
  </li>
  <li>
      <a href="#"><i class="fa fa-th-large fa-fw"></i> Competencias<span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
          <li>
              <a href="#"><i class="fa fa-list fa-fw"></i> Lista</a>
          </li>
          <li>
              <a href="#"><i class="fa fa-plus fa-fw"></i> Nueva</a>
          </li>
      </ul>
  </li>
  <li>
      <a href="#"><i class="fa fa-th-large fa-fw"></i> Conducta<span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
          <li>
              <a href="#"><i class="fa fa-list fa-fw"></i> Lista</a>
          </li>
          <li>
              <a href="#"><i class="fa fa-plus fa-fw"></i> Nueva</a>
          </li>
      </ul>
  </li>
  <li>
      <a href="#"><i class="fa fa-check-square fa-fw"></i> Evaluaciones<span class="fa arrow"></span></a>
      <ul class="nav nav-second-level">
          <li>
              <a href="#"><i class="fa fa-list fa-fw"></i> Lista</a>
          </li>
          <li>
              <a href="#"><i class="fa fa-plus fa-fw"></i> Nueva</a>
          </li>
      </ul>
  </li>
{% endblock %}

{% block content_head %}{% endblock %}

{% block content %}{% endblock %}

{% block javascript %}{% endblock %}
